*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}
:root{
    --red: #d81a46;
    --gray: #eee;
}
.transition-5{
    transition: .5s;
}
.redHover:hover{
    color: var(--red) !important;
}
.grayBg{
    background-color: var(--gray);
}
.grayBgHover:hover{
    background-color: var(--gray);
}
.BackImg{
    background: var(--img-url) no-repeat;
    background-position:  var(--position);
    background-size: cover;
}
.fixedBackimg{
    background: linear-gradient(-135deg,#000, #00000099), var(--fixed-img);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.bigFont{
    font-size: 5.5rem;
}
.btnBlack{
    border:  1px #fff solid;
}
.btnBlack:hover{
    background-color: var(--red) !important;
    border: 1px var(--red) solid;
}
.cursor{
    cursor: pointer;
}
.minHeight{
    min-height: 300px;
}